http_interactions:
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/audits
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"3bcb9-ITPnuQH9O/N+TTpiiI0MUTI5prk"
    body:
      encoding: UTF-8
      file: no
      string: '[{"actorId":28,"action":"submission.create","acteeId":"0d049715-3f8c-4a00-b3b4-3f2955abd52d","details":{},"loggedAt":"2020-11-10T22:39:53.898Z"},{"actorId":28,"action":"submission.attachment.update","acteeId":"0d049715-3f8c-4a00-b3b4-3f2955abd52d","details":{"name":"1605042641521.jpg","newBlobId":192,"instanceId":"uuid:5178f8d8-ce91-4dc3-8226-f4d32a7ca4a9","submissionDefId":687},"loggedAt":"2020-11-10T22:39:53.888Z"},{"actorId":28,"action":"submission.create","acteeId":"18db9947-b636-4a55-9370-cc4f1c8ed865","details":{},"loggedAt":"2020-11-10T22:39:48.525Z"},{"actorId":28,"action":"submission.attachment.update","acteeId":"18db9947-b636-4a55-9370-cc4f1c8ed865","details":{"name":"1605044580965.jpg","newBlobId":191,"instanceId":"uuid:387358aa-480b-4df4-870d-d1b593b5db8b","submissionDefId":686},"loggedAt":"2020-11-10T22:39:48.515Z"},{"actorId":28,"action":"submission.c[...]
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/audits?action=project.update&start=2019-08-01Z&end=2019-08-31Z&limit=100&offset=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w"
    body:
      encoding: UTF-8
      file: no
      string: '[]'
  recorded_at: 2020-11-11 03:26:39 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/audits?action=project.update&limit=100&offset=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"d99-z0tvKR9obZNJ7/f2+k2wg7ExkGQ"
    body:
      encoding: UTF-8
      file: no
      string: '[{"actorId":5,"action":"project.update","acteeId":"750411ee-33c7-48d2-a86d-12f61ff3683c","details":{"data":{"name":"Fire
        Management and Plant Health","archived":null}},"loggedAt":"2020-11-06T03:43:20.286Z"},{"actorId":5,"action":"project.update","acteeId":"750411ee-33c7-48d2-a86d-12f61ff3683c","details":{"data":{"name":"Fire
        Management and Plant Health","archived":null}},"loggedAt":"2020-11-06T03:20:16.802Z"},{"actorId":5,"action":"project.update","acteeId":"750411ee-33c7-48d2-a86d-12f61ff3683c","details":{"data":{"name":"Fire
        Management and Plant Health","archived":null}},"loggedAt":"2020-11-06T03:19:26.146Z"},{"actorId":5,"action":"pro[...]
