http_interactions:
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/projects/3/forms/Locations/submissions
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
      X-Extended-Metadata: 'true'
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"138-NvUhFs3voSRienA9debXRK1GygY"
    body:
      encoding: UTF-8
      file: no
      string: '[{"instanceId":"uuid:fff511d0-368b-4ee7-89b0-faa8322c5981","submitterId":70,"deviceId":"android_id:5afb51f35ba0c572","createdAt":"2020-11-02T07:26:38.111Z","updatedAt":null,"reviewState":null,"submitter":{"id":70,"type":"field_key","displayName":"ruODK","createdAt":"2020-11-02T07:23:05.494Z","updatedAt":null}}]'
  recorded_at: 2021-08-19 03:15:50 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
