http_interactions:
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/projects/2/forms/Flora-Quadrat-04/submissions
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
      X-Extended-Metadata: 'true'
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"138-8Z6aMV8R9qRXFegaq2FgPhhg5oM"
    body:
      encoding: UTF-8
      file: no
      string: '[{"instanceId":"uuid:469f71d3-d7aa-4c74-8aaa-af5f667a2f28","submitterId":53,"deviceId":"android_id:5afb51f35ba0c572","createdAt":"2020-11-02T04:19:45.451Z","updatedAt":null,"reviewState":null,"submitter":{"id":53,"type":"field_key","displayName":"ruODK","createdAt":"2020-11-02T02:04:58.884Z","updatedAt":null}}]'
  recorded_at: 2021-08-19 03:15:49 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
