http_interactions:
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/projects/3/forms/Locations.svc/Submissions?%24count=false&%24wkt=false
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      odata-version: '4.0'
    body:
      encoding: UTF-8
      file: no
      string: '{"value":[{"__id":"uuid:fff511d0-368b-4ee7-89b0-faa8322c5981","__system":{"submissionDate":"2020-11-02T07:26:38.111Z","submitterId":"70","submitterName":"ruODK","attachmentsPresent":1,"attachmentsExpected":1,"status":"NotDecrypted"}}],"@odata.context":"https://odkc.dbca.wa.gov.au/v1/projects/3/forms/Locations.svc/$metadata#Submissions"}'
  recorded_at: 2021-06-04 02:29:49 GMT
  recorded_with: vcr/0.6.0, webmockr/0.8.0
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/projects/3/forms/Locations/fields?flatten=FALSE&odata=FALSE
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"632-HEZYiEylnxwykAvXZ35QMBzXQVs"
    body:
      encoding: UTF-8
      file: no
      string: '[{"path":"/meta","name":"meta","type":"structure","binary":null},{"path":"/meta/instanceID","name":"instanceID","type":"string","binary":null},{"path":"/device_id","name":"device_id","type":"string","binary":null},{"path":"/start_time","name":"start_time","type":"dateTime","binary":null},{"path":"/username","name":"username","type":"string","binary":null},{"path":"/subscriber_id","name":"subscriber_id","type":"string","binary":null},{"path":"/point","name":"point","type":"structure","binary":null},{"path":"/point/location_point_gps","name":"location_poi[...]
