http_interactions:
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/projects/2/forms/Flora-Quadrat-04/fields?flatten=FALSE&odata=FALSE
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"bdf-C11XpUCPNjdiK9lUpOOOsqklGbw"
    body:
      encoding: UTF-8
      file: no
      string: '[{"path":"/meta","name":"meta","type":"structure","binary":null},{"path":"/meta/instanceID","name":"instanceID","type":"string","binary":null},{"path":"/encounter_start_datetime","name":"encounter_start_datetime","type":"dateTime","binary":null},{"path":"/reporter","name":"reporter","type":"string","binary":null},{"path":"/device_id","name":"device_id","type":"string","binary":null},{"path":"/location","name":"location","type":"structure","binary":null},{"path":"/location/area_name","name":"area_name","type":"string","binary":null},{"path":"/location/qu[...]
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/projects/2/forms/Flora-Quadrat-04.xml
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/xml; charset=utf-8
      etag: W/"920b-IGz1WyitzYLbkbxcEQElJGVMW9E"
    body:
      encoding: UTF-8
      file: no
      string: "<h:html xmlns=\"http://www.w3.org/2002/xforms\" xmlns:h=\"http://www.w3.org/1999/xhtml\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:jr=\"http://openrosa.org/javarosa\">\r\n
        \ <h:head>\r\n    <h:title>Flora Quadrat 0.4</h:title>\r\n    <model>\r\n
        \     <instance>\r\n        <data id=\"Flora-Quadrat-04\">\r\n          <meta>\r\n
        \           <instanceID/>\r\n          </meta>\r\n          <encounter_start_datetime/>\r\n
        \         <reporter/>\r\n          <device_id/>\r\n          <location>\r\n
        \           <area_name/>\r\n            <quadrat_photo/>\r\n            <corner1/>\r\n
        \         </location>\r\n          <habitat>\r\n            <morphological_type/>\r\n
        \           <morphological_type_photo/>\r\n          </habitat>\r\n          <vegetation_stratum
        jr:template=\"\">\r\n            <nvis_level3_broad_floristic_group/>\r\n
        \           <max_height_m/>\r\n            <foliage_cover/>\r\n            <dominant_species_1/>\r\n
        \           <dominant_species_2/>\r\n            <dominant_species_3/>\r\n
        \           <dominant_species_4/>\r\n          </vegetation_stratum>\r\n          <perimeter>\r\n
        \           <corner2/>\r\n            <corner3/>\r\n            <corner4/>\r\n
        \           <mudmap_photo/>\r\n          </perimeter>\r\n          <taxon_encounter
        jr:template=\"\">\r\n            <field_name/>\r\n            <photo_in_situ/>\r\n
        \           <taxon_encounter_location/>\r\n            <life_form/>\r\n            <voucher_specimen_barcode/>\r\n
        \           <voucher_specimen_label/>\r\n          </taxon_encounter>\r\n
        \         <encounter_end_datetime/>\r\n        </data>\r\n      </instance>\r\n
        \     <itext>\r\n        <translation lang=\"English\">\r\n          <text
        id=\"/data/location:label\">\r\n            <value>Location</value>\r\n          </text>\r\n
        \         <text id=\"/data/location/area_name:label\">\r\n            <value>Quadrat
        name</value>\r\n          </text>\r\n          <text id=\"/data/location/area_name:hint\">\r\n
        \           <value></value>\r\n          </text>\r\n          <text id=\"/data/location/quadrat_photo:label\">\r\n
        \           <value>Quadrat Photo</value>\r\n          </text>\r\n          <text
        id=\"/data/location/quadrat_photo:hint\">\r\n            <value>Capture a
        memorable overview</value>[...]
