http_interactions:
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/projects/2/forms/Flora-Quadrat-04/submissions
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
      X-Extended-Metadata: 'true'
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"114-jMOoz9W4jx1FzSyJsY3oC1nGBVk"
    body:
      encoding: UTF-8
      file: no
      string: '[{"instanceId":"uuid:469f71d3-d7aa-4c74-8aaa-af5f667a2f28","submitter":{"id":53,"type":"field_key","displayName":"ruODK","createdAt":"2020-11-02T02:04:58.884Z","updatedAt":null},"deviceId":"android_id:5afb51f35ba0c572","createdAt":"2020-11-02T04:19:45.451Z","updatedAt":null}]'
  recorded_at: 2021-02-01 03:20:08 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/projects/2/forms/Flora-Quadrat-04/submissions/uuid:469f71d3-d7aa-4c74-8aaa-af5f667a2f28/attachments
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"d8-R5uTYb94fvxv3+rZykx3KxOcfpA"
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":"1604290006239.jpg","exists":true},{"name":"1604290049411.jpg","exists":true},{"name":"1604290379613.jpg","exists":true},{"name":"1604290400891.jpg","exists":true},{"name":"1604290499008.jpg","exists":true}]'
  recorded_at: 2021-02-01 03:20:08 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
[...]
