http_interactions:
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/projects/3/forms/Locations/submissions
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
      X-Extended-Metadata: 'true'
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"114-EKzvMKWLVVTiP18yVlFOXSQyb/I"
    body:
      encoding: UTF-8
      file: no
      string: '[{"instanceId":"uuid:fff511d0-368b-4ee7-89b0-faa8322c5981","submitter":{"id":70,"type":"field_key","displayName":"ruODK","createdAt":"2020-11-02T07:23:05.494Z","updatedAt":null},"deviceId":"android_id:5afb51f35ba0c572","createdAt":"2020-11-02T07:26:38.111Z","updatedAt":null}]'
  recorded_at: 2021-05-13 05:11:48 GMT
  recorded_with: vcr/0.6.0, webmockr/0.8.0
