http_interactions:
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/projects/2/forms/Flora-Quadrat-04.svc/$metadata
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/xml; charset=utf-8
      etag: W/"1af1-RimHBtm/NxLxQJ85lvRi+fOzPCs"
      odata-version: '4.0'
    body:
      encoding: UTF-8
      file: no
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <edmx:Edmx xmlns:edmx="http://docs.oasis-open.org/odata/ns/edmx" Version="4.0">
          <edmx:DataServices>
            <Schema xmlns="http://docs.oasis-open.org/odata/ns/edm" Namespace="org.opendatakit.submission">
              <ComplexType Name="metadata">
                <Property Name="submissionDate" Type="Edm.DateTimeOffset"/>
                <Property Name="submitterId" Type="Edm.String"/>
                <Property Name="submitterName" Type="Edm.String"/>
                <Property Name="attachmentsPresent" Type="Edm.Int64"/>
                <Property Name="attachmentsExpected" Type="Edm.Int64"/>
                <Property Name="status" Type="org.opendatakit.submission.Status"/>
              </ComplexType>
              <EnumType Name="Status">
                <Member Name="NotDecrypted"/>
                <Member Name="MissingEncryptedFormData"/>
              </EnumType>
            </Schema>
            <Schema xmlns="http://docs.oasis-open.org/odata/ns/edm" Namespace="org.opendatakit.user.Flora_Quadrat_04">
              <EntityType Name="Submissions">
                <Key><PropertyRef Name="__id"/></Key>
                <Property Name="__id" Type="Edm.String"/>
                <Property Name="__system" Type="org.opendatakit.submission.metadata"/>
                <Property Name="meta" Type="org.opendatakit.user.Flora_Quadrat_04.meta"/>
                <Property Name="encounter_start_datetime" Type="Edm.DateTimeOffset"/>
                <Property Name="reporter" Type="Edm.String"/>
                <Property Name="device_id" Type="Edm.String"/>
                <Property Name="location" Type="org.opendatakit.user.Flora_Quadrat_04.location"/>
                <Property Name="habitat" Type="org.opendatakit.user.Flora_Quadrat_04.habitat"/>
                <NavigationProperty Name="vegetation_stratum" Type="Collection(org.opendatakit.user.Flora_Quadrat_04.Submissions.vegetation_stratum)"/>
                <Property Name="perimeter" Type="org.opendatakit.user.Flora_Quadrat_04.perimeter"/>
                <NavigationProperty Name="taxon_encounter" Type="Collection(org.opendatakit.user.Flora_Quadrat_04.Submissions.taxon_encounter)"/>
                <Property Name="encounter_end_datetime" Type="Edm.DateTimeOffset"/>
              </EntityType>
              <EntityType [...]
