http_interactions:
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/projects/2/forms/I8n_label_choices.svc/Submissions?%24count=false&%24wkt=false
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      odata-version: '4.0'
    body:
      encoding: UTF-8
      file: no
      string: '{"value":[{"__id":"uuid:e2309c82-c908-4a41-a898-dfe16b41d94b","some_text":"Test
        2","text_image_audio_video_test":null,"a_integer":123,"a_decimal":10,"calculate":"133","calculate_test_output":null,"test_yn":"1","__system":{"submissionDate":"2020-11-02T04:41:14.761Z","submitterId":"53","submitterName":"ruODK","attachmentsPresent":0,"attachmentsExpected":0,"status":null,"reviewState":null,"deviceId":"android_id:5afb51f35ba0c572","edits":0},"meta":{"instanceID":"uuid:e2309c82-c908-4a41-a898-dfe16b41d94b"}},{"__id":"uuid:2c0b6cf8-2486-464b-bde8-f789f527f623","some_text":"Test","text_image_audio_video_test":null,"a_integer":123,"a_decimal":10,"calculate":"133","calculate_test_output":null,"test_yn":"99","__system":{"submissionDate":"2020-11-02T04:40:19.975Z","submitterId":"53","submitterName":"ruODK","attachmentsPresent":0,"attachmentsExpected":0,"status":null,"reviewState":null,"deviceId":"android_id:5afb51f35ba0c572","edits":0},"meta":{"instanceID":"uuid:2c0b6cf8-2486-464b-bde8-f789f527f623"}}],"@odata.context":"https://odkc.dbca.wa.gov.au/v1/projects/2/forms/I8n_label_choices.svc/$metadata#Submissions"}'
  recorded_at: 2021-08-19 03:15:03 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
