http_interactions:
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/projects/2/forms/I8n_no_lang/fields?flatten=FALSE&odata=FALSE
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"fe6-VsnDT7Q5wclCqWvLqwPkJUFAU9c"
    body:
      encoding: UTF-8
      file: no
      string: '[{"path":"/some_text","name":"some_text","type":"string","binary":null},{"path":"/a_integer","name":"a_integer","type":"int","binary":null},{"path":"/a_decimal","name":"a_decimal","type":"decimal","binary":null},{"path":"/calculate","name":"calculate","type":"string","binary":null},{"path":"/calculate_test_output","name":"calculate_test_output","type":"string","binary":null},{"path":"/select_example","name":"select_example","type":"string","binary":null},{"path":"/required_text","name":"required_text","type":"string","binary":null},{"path":"/acknowledge_test",[...]
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/projects/2/forms/I8n_no_lang.xml
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/xml; charset=utf-8
      etag: W/"395b-6/DaSs0EXILdNzDzVTyJd3Jfv0w"
    body:
      encoding: UTF-8
      file: no
      string: |
        <?xml version="1.0"?>
        <h:html xmlns="http://www.w3.org/2002/xforms" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:h="http://www.w3.org/1999/xhtml" xmlns:jr="http://openrosa.org/javarosa" xmlns:odk="http://www.opendatakit.org/xforms" xmlns:orx="http://openrosa.org/xforms" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <h:head>
                <h:title>I8n no lang</h:title>
                <model odk:xforms-version="1.0.0">
                    <instance><data id="I8n_no_lang">
                            <some_text />
                            <a_integer>123</a_integer>
                            <a_decimal />
                            <calculate />
                            <calculate_test_output />
                            <select_example />
                            <required_text />
                            <acknowledge_test />
                            <skip_example />
                            <skipable_question />
                            <group_test>
                                <field_list_note />
                                <select_multiple_1 />
                                <select_multiple_2 />
                            </group_test>
                            <table_list_example>
                                <generated_table_list_label_17 />
                                <reserved_name_for_field_list_labels_18 />
                                <table_list_question_1 />
                                <table_list_question_2 />
                            </table_list_example>
                            <select_appearance_note />
                            <labeled_select_group>
                                <label_test />
                                <list-nolabel_test />
                            </labeled_select_group>
                            <compact_test />
                            <data_types_note />
                            <date_test />
                            <time_test />
                            <datetime_test />
                            <geopoint_test />
                            <barcode_test />
                            <image_test />
                            <audio_test />
                            <video_test />
                            <metadata_note />
                            <start />
                            <start_test_output />
                            <end />
                            <end_test_output />
                            <today />
                            <today_test_output />
                            <deviceid />
                            <deviceid_test_output />
                            <simserial />
                            <simserial_test_output />
                            <phonenumber />
                            <phonenumber_test_output />
                            <meta>
                            <instanceID />
                            </meta>
                        </data></instance>
                    <bind nodeset="/data/some_text" type="string" />
                    <bind nodeset="/data/a_integer" type="int" />
                    <bind constraint=". &lt;=  /data/a_integer " jr:constraintMsg="You can set the toast that appears when a constraint is violated." nodeset="/data/a_decimal" type="decimal" />
                    <bind calculate=" /data/a_integer + /data/a_decimal " nodeset="/data/calculate" type="string" />
                    <bind nodeset="/data/calculate_test_output" readonly="true()[...]
