http_interactions:
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/projects/2/forms/Flora-Quadrat-04-gap.svc/Submissions?%24skip=&%24top=&%24count=false&%24wkt=false
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      odata-version: '4.0'
    body:
      encoding: UTF-8
      file: no
      string: '{"value":[{"__id":"uuid:03f30cbb-98cc-4f57-95e7-a076053363ef","encounter_start_datetime":"2020-11-02T12:30:51.701+08:00","reporter":null,"device_id":"5afb51f35ba0c572","encounter_end_datetime":"2020-11-02T12:33:24.779+08:00","__system":{"submissionDate":"2020-11-02T04:36:09.877Z","submitterId":"53","submitterName":"ruODK","attachmentsPresent":0,"attachmentsExpected":0,"status":null},"meta":{"instanceID":"uuid:03f30cbb-98cc-4f57-95e7-a076053363ef"},"location":{"area_name":"Second
        quadrat complete record","quadrat_photo":null,"corner1":{"type":"Point","coordinates":[115.8844465,-31.9957221,-21.19999885559082],"properties":{"accuracy":4.271}}},"habitat":{"morphological_type":"flat","morphological_type_photo":null},"vegetation_stratum@odata.navigationLink":"Submissions(''uuid:03f30cbb-98cc-4f57-95e7-a076053363ef'')/vegetation_stratum","perimeter":{"corner2":null,"corner3":null,"corner4":null,"mudmap_photo":null},"taxon_encounter@odata.navigationLink":"Submissions(''uuid:03f30cbb-98cc-4f57-95e7-a076053363ef'')/taxon_encounter"},{"__id":"uuid:62164717-c383-4ba6-929b-1adfe35de955","encounter_start_datetime":"2020-11-02T12:27:59.725+08:00","reporter":null,"device_id":"5afb51f35ba0c572","encounter_end_datetime":"2020-11-02T12:28:43.594+08:00","__system":{"submissionDate":"2020-11-02T04:36:09.361Z","submitterId":"53","submitterName":"ruODK","attachmentsPresent":0,"attachmentsExpected":0,"status":null},"meta":{"instanceID":"uuid:62164717-c383-4ba6-929b-1adfe35de955"},"location":{"area_name":"Test
        quadrat with incomplete data","quadrat_photo":null,"corner1":{"type":"Point","coordinates":[115.8845424,-31.9956795,-21],"properties":{"accuracy":4.54}}},"habitat":{"morphological_type":null,"morphological_type_photo":null},"perimeter":{"corner2":null,"corner3":null,"corner4":null,"mudmap_photo":null}}],"@odata.context":"https://odkc.dbca.wa.gov.au/v1/projects/2/forms/Flora-Quadrat-04-gap.svc/$metadata#Submissions"}'
  recorded_at: 2020-12-10 08:23:04 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.4
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/projects/2/forms/Flora-Quadrat-04-gap/fields?flatten=FALSE&odata=FALSE
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"bdf-C11XpUCPNjdiK9lUpOOOsqklGbw"
    body:
      encoding: UTF-8
      file: no
      string: '[{"path":"/meta","name":"meta","type":"structure","binary":null},{"path":"/meta/instanceID","name":"instanceID","type":"string","binary":null},{"path":"/encounter_start_datetime","name":"encounter_start_datetime","type":"dateTime","binary":null},{"path":"/reporter","name":"reporter","type":"string","binary":null},{"path":"/device_id","name":"device_id","type":"string","binary":null},{"path":"/location","name":"location","type":"structure","binary":null},{"path":"/location/area_name","name":"area_name","type":"string","binary":null},{"path":"/location/qu[...]
