http_interactions:
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/projects/2/forms/Flora-Quadrat-04.svc/Submissions?%24count=true&%24wkt=true&%24top=1
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      odata-version: '4.0'
    body:
      encoding: UTF-8
      file: no
      string: '{"value":[{"__id":"uuid:469f71d3-d7aa-4c74-8aaa-af5f667a2f28","encounter_start_datetime":"2020-11-02T12:06:19.314+08:00","reporter":null,"device_id":"5afb51f35ba0c572","encounter_end_datetime":"2020-11-02T12:15:48.463+08:00","__system":{"submissionDate":"2020-11-02T04:19:45.451Z","submitterId":"53","submitterName":"ruODK","attachmentsPresent":5,"attachmentsExpected":5,"status":null,"reviewState":null,"deviceId":"android_id:5afb51f35ba0c572","edits":0},"meta":{"instanceID":"uuid:469f71d3-d7aa-4c74-8aaa-af5f667a2f28"},"location":{"area_name":"Test
        site 1","quadrat_photo":"1604290006239.jpg","corner1":"POINT (115.8843989
        -31.9959554 -12.699999809265137)"},"habitat":{"morphological_type":"flat","morphological_type_photo":"1604290049411.jpg"},"vegetation_stratum@odata.navigationLink":"Submissions(''uuid%3A469f71d3-d7aa-4c74-8aaa-af5f667a2f28'')/vegetation_stratum","perimeter":{"corner2":"POINT
        (115.8842726 -31.9957893 -21.19999885559082)","corner3":"POINT (115.8843031
        -31.9958188 -21.19999885559082)","corner4":"POINT (115.8845949 -31.9961397
        -12.699999809265137)","mudmap_photo":"1604290379613.jpg"},"taxon_encounter@odata.navigationLink":"Submissions(''uuid%3A469f71d3-d7aa-4c74-8aaa-af5f667a2f28'')/taxon_encounter"}],"@odata.context":"https://odkc.dbca.wa.gov.au/v1/projects/2/forms/Flora-Quadrat-04.svc/$metadata#Submissions","@odata.count":1}'
  recorded_at: 2021-08-19 03:14:54 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
