http_interactions:
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/projects
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
      X-Extended-Metadata: 'true'
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"359-FFt61VBDEF8UVH3xDDHLB8qxICA"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":1,"name":"DBCA","archived":null,"keyId":null,"forms":10,"lastSubmission":"2020-11-23T04:53:28.668Z","appUsers":12,"createdAt":"2020-09-15T03:50:06.862Z","updatedAt":"2020-11-19T06:07:39.171Z"},{"id":4,"name":"Fire
        Management and Plant Health","archived":null,"keyId":null,"forms":5,"lastSubmission":"2020-11-06T03:47:21.271Z","appUsers":2,"createdAt":"2020-11-06T03:12:16.785Z","updatedAt":"2020-11-06T03:43:20.285Z"},{"id":2,"name":"ruODK
        package tests","archived":null,"keyId":null,"forms":10,"lastSubmission":"2020-11-02T04:41:14.761Z","appUsers":1,"createdAt":"2020-10-31T11:11:50.035Z","updatedAt":"2020-11-02T03:54:42.522Z"},{"id":3,"name":"ruODK
        package tests encrypted","archived":null,"keyId":1,"forms":1,"lastSubmission":"2020-11-02T07:26:38.112Z","appUsers":1,"createdAt":"2020-10-31T11:12:57.462Z","updatedAt":"2020-11-02T07:23:17.938Z"}]'
  recorded_at: 2020-11-23 05:08:45 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
