http_interactions:
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/audits
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"8ff21-EcjFZPkV1PgwhVIMQcQATjbZqZo"
    body:
      encoding: UTF-8
      file: no
      string: '[{"actorId":33,"action":"submission.create","acteeId":"fd932406-9aa1-4900-91f6-c9caf08f58a6","details":{},"loggedAt":"2020-11-23T03:57:07.024Z"},{"actorId":33,"action":"submission.attachment.update","acteeId":"fd932406-9aa1-4900-91f6-c9caf08f58a6","details":{"name":"1605999881764.jpg","newBlobId":377,"instanceId":"uuid:34e07fc1-79bf-41e7-bf23-f3fdc458be86","submissionDefId":2571},"loggedAt":"2020-11-23T03:57:07.012Z"},{"actorId":33,"action":"submission.create","acteeId":"18db9947-b636-4a55-9370-cc4f1c8ed865","details":{},"loggedAt":"2020-11-23T03:56:32.476Z"},{"actorId":33,"action":"submission.create","acteeId":"18db9947-b636-4a55-9370-cc4f1c8ed865","details":{},"loggedAt":"2020-11-23T03:56:31.661Z"},{"actorId":33,"action":"submission.create","acteeId":"18db9947-b636-4a55-9370-cc4f1c8ed865","details":{},"loggedAt":"2020-11-23T03:56:31.206Z"},{"actorId":33,"action":[...]
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/audits?action=project.update&start=2019-08-01Z&end=2019-08-31Z&limit=100&offset=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2-l9Fw4VUO7kr8CvBlt4zaMCqXZ0w"
    body:
      encoding: UTF-8
      file: no
      string: '[]'
  recorded_at: 2020-11-23 04:00:57 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/audits?action=project.update&limit=100&offset=0
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"1277-FJ1vro/li/VVIWD1gajglvw1Ze0"
    body:
      encoding: UTF-8
      file: no
      string: '[{"actorId":5,"action":"project.update","acteeId":"7e9417a3-f1db-4126-ba83-3810ce46e353","details":{"data":{"name":"DBCA","archived":null}},"loggedAt":"2020-11-19T06:07:39.172Z"},{"actorId":5,"action":"project.update","acteeId":"7e9417a3-f1db-4126-ba83-3810ce46e353","details":{"data":{"name":"DBCA","archived":null}},"loggedAt":"2020-11-18T12:59:43.561Z"},{"actorId":5,"action":"project.update","acteeId":"7e9417a3-f1db-4126-ba83-3810ce46e353","details":{"data":{"name":"DBCA","archived":null}},"loggedAt":"2020-11-17T08:36:49.557Z"},{"actorId":5,"action":"project.update","acteeId":"7e9417a3-f1db-4126-ba83-3810ce46e353","details":[...]
