http_interactions:
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/projects
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
      X-Extended-Metadata: 'true'
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"421-nNPzD3qQgT//xAdtK96H9XU9w8o"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":1,"name":"DBCA","archived":null,"keyId":null,"forms":12,"lastSubmission":"2021-01-31T02:04:17.657Z","appUsers":13,"createdAt":"2020-09-15T03:50:06.862Z","updatedAt":"2020-12-17T06:09:14.126Z"},{"id":4,"name":"Fire
        Management and Plant Health","archived":null,"keyId":null,"forms":5,"lastSubmission":"2020-11-06T03:47:21.270Z","appUsers":2,"createdAt":"2020-11-06T03:12:16.785Z","updatedAt":"2020-11-06T03:43:20.285Z"},{"id":2,"name":"ruODK
        package tests","archived":null,"keyId":null,"forms":12,"lastSubmission":"2020-11-02T04:41:14.761Z","appUsers":1,"createdAt":"2020-10-31T11:11:50.035Z","updatedAt":"2020-11-23T05:25:03.426Z"},{"id":3,"name":"ruODK
        package tests encrypted","archived":null,"keyId":1,"forms":1,"lastSubmission":"2020-11-02T07:26:38.111Z","appUsers":1,"createdAt":"2020-10-31T11:12:57.462Z","updatedAt":"2020-11-02T07:23:17.938Z"},{"id":5,"name":"Sandbox","archived":null,"keyId":null,"forms":2,"lastSubmission":"2021-01-26T23:35:06.527Z","appUsers":1,"createdAt":"2020-12-14T07:36:46.197Z","updatedAt":"2020-12-16T03:16:29.363Z"}]'
  recorded_at: 2021-02-01 03:20:58 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
