http_interactions:
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/projects
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
      X-Extended-Metadata: 'true'
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"5b5-6x7+AcSB4bXDm1rLwVda+KNV2B0"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":1,"name":"DBCA","archived":null,"keyId":null,"forms":12,"lastSubmission":"2021-04-19T00:05:48.330Z","appUsers":14,"createdAt":"2020-09-15T03:50:06.862Z","updatedAt":"2021-04-29T03:54:19.502Z"},{"id":4,"name":"Fire
        Management and Plant Health","archived":null,"keyId":null,"forms":5,"lastSubmission":"2020-11-06T03:47:21.270Z","appUsers":2,"createdAt":"2020-11-06T03:12:16.785Z","updatedAt":"2020-11-06T03:43:20.285Z"},{"id":6,"name":"Kingston
        Spotlighting","archived":null,"keyId":null,"forms":3,"lastSubmission":"2021-03-24T03:32:15.790Z","appUsers":3,"createdAt":"2021-02-16T06:01:19.647Z","updatedAt":"2021-02-16T06:40:31.143Z"},{"id":2,"name":"ruODK
        package tests","archived":null,"keyId":null,"forms":12,"lastSubmission":"2020-11-02T04:41:14.761Z","appUsers":1,"createdAt":"2020-10-31T11:11:50.035Z","updatedAt":"2020-11-23T05:25:03.426Z"},{"id":3,"name":"ruODK
        package tests encrypted","archived":null,"keyId":1,"forms":1,"lastSubmission":"2020-11-02T07:26:38.111Z","appUsers":1,"createdAt":"2020-10-31T11:12:57.462Z","updatedAt":"2020-11-02T07:23:17.938Z"},{"id":5,"name":"Sandbox","archived":null,"keyId":null,"forms":2,"lastSubmission":"2021-04-09T10:34:33.256Z","appUsers":1,"createdAt":"2020-12-14T07:36:46.197Z","updatedAt":"2020-12-16T03:16:29.363Z"},{"id":7,"name":"An
        archived project","archived":true,"keyId":null,"forms":0,"lastSubmission":null,"appUsers":0,"createdAt":"2021-05-04T09:13:32.807Z","updatedAt":"2021-05-04T09:13:38.668Z"}]'
  recorded_at: 2021-05-04 09:15:15 GMT
  recorded_with: vcr/0.6.0, webmockr/0.8.0
