http_interactions:
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/projects/2
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
      X-Extended-Metadata: 'true'
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"364-ui3fRx4oqREUV3ztCBxbM9ErJwY"
    body:
      encoding: UTF-8
      file: no
      string: '{"verbs":["backup.create","backup.terminate","config.read","field_key.create","field_key.delete","field_key.list","form.create","form.delete","form.list","form.read","form.update","project.create","project.delete","project.read","project.update","session.end","submission.create","submission.read","submission.list","user.create","user.list","user.password.invalidate","user.read","user.update","submission.update","role.create","role.update","role.delete","assignment.list","assignment.create","assignment.delete","user.delete","audit.read","public_link.create","public_link.list","public_link.read","public_link.update","public_link.delete","backup.run"],"id":2,"name":"ruODK
        package tests","archived":null,"keyId":null,"createdAt":"2020-10-31T11:11:50.035Z","updatedAt":"2020-11-23T05:25:03.426Z","forms":12,"appUsers":1,"lastSubmission":"2020-11-02T04:41:14.761Z"}'
  recorded_at: 2021-08-19 03:15:04 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
