http_interactions:
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/projects/2/forms/I8n_lang_choicefilter/fields?flatten=FALSE&odata=FALSE
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"46d-CwTPEyMzPmmpW7h3SGfU7QCX3Zs"
    body:
      encoding: UTF-8
      file: no
      string: '[{"path":"/select_example_filter","name":"select_example_filter","type":"string","binary":null},{"path":"/choice_filter_example","name":"choice_filter_example","type":"structure","binary":null},{"path":"/choice_filter_example/choice_filter_question_1","name":"choice_filter_question_1","type":"string","binary":null},{"path":"/choice_filter_example/choice_filter_question_2","name":"choice_filter_question_2","type":"string","binary":null},{"path":"/some_text","name":"some_text","type":"string","binary":null},{"path":"/text_image_audio_video_test","name":"text_image_audio_video_test","type":"string","binary":null},{"path":"/a_integer","name":"a_integer","type":"int","binary":null},{"path":"/a_decimal","name":"a_decimal","type":"decimal","binary":null},{"path":"/calculate","name":"calculate","type":"string","binary":null},{"path":"/calculate_test_output","name":"calculate_test_output","type":"string","binary":null},{"path":"/test_yn","name":"test_yn","type":"string","binary":null},{"path":"/meta","name":"meta","type":"structure","binary":null},{"path":"/meta/instanceID","name":"instanceID","type":"string","binary":null}]'
  recorded_at: 2021-05-13 05:10:37 GMT
  recorded_with: vcr/0.6.0, webmockr/0.8.0
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/projects/2/forms/I8n_lang_choicefilter.xml
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/xml; charset=utf-8
      etag: W/"373d-9heUnyOhgzVN8mr97Wy0iij9lJc"
    body:
      encoding: UTF-8
      file: no
      string: '<?xml version="1.0"?><h:html xmlns="http://www.w3.org/2002/xforms"
        xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:h="http://www.w3.org/1999/xhtml"
        xmlns:jr="http://openrosa.org/javarosa" xmlns:odk="http://www.opendatakit.org/xforms"
        xmlns:orx="http://openrosa.org/xforms" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><h:head><h:title>I8n
        label lang with choice filter</h:title><model odk:xforms-version="1.0.0"><itext><translation
        lang="French (fr)"><text id="/data/select_example_filter:label"><value>Il
        s''agit d''une question de type select_one, avec un filtre de choix</value></text><text
        id="/data/select_example_filter/0:label"><value>Oui</value></text><text id="/data/select_example_filter/1:label"><value>Non</value></text><text
        id="/data/select_example_filter/99:label"><value>peut-être</value></text><text
        id="/data/choice_filter_example:label"><value>Exemple de filtre de choix</value></text><text
        id="/data/choice_filter_example/choice_filter_questio[...]
