http_interactions:
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/projects/2/forms/Flora-Quadrat-04/fields?flatten=FALSE&odata=FALSE
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"bdf-C11XpUCPNjdiK9lUpOOOsqklGbw"
    body:
      encoding: UTF-8
      file: no
      string: '[{"path":"/meta","name":"meta","type":"structure","binary":null},{"path":"/meta/instanceID","name":"instanceID","type":"string","binary":null},{"path":"/encounter_start_datetime","name":"encounter_start_datetime","type":"dateTime","binary":null},{"path":"/reporter","name":"reporter","type":"string","binary":null},{"path":"/device_id","name":"device_id","type":"string","binary":null},{"path":"/location","name":"location","type":"structure","binary":null},{"path":"/location/area_name","name":"area_name","type":"string","binary":null},{"path":"/location/qu[...]
