http_interactions:
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/projects
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
      X-Extended-Metadata: 'true'
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"5c2-pnZSq/Gz7kPlxs0Jq3CyxT6hor8"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":4,"name":"Fire Management and Plant Health","archived":null,"keyId":null,"createdAt":"2020-11-06T03:12:16.785Z","updatedAt":"2020-11-06T03:43:20.285Z","forms":5,"appUsers":2,"lastSubmission":"2021-07-16T10:54:17.221Z"},{"id":6,"name":"Kingston
        Spotlighting","archived":null,"keyId":null,"createdAt":"2021-02-16T06:01:19.647Z","updatedAt":"2021-02-16T06:40:31.143Z","forms":3,"appUsers":3,"lastSubmission":"2021-03-24T03:32:15.790Z"},{"id":2,"name":"ruODK
        package tests","archived":null,"keyId":null,"createdAt":"2020-10-31T11:11:50.035Z","updatedAt":"2020-11-23T05:25:03.426Z","forms":12,"appUsers":1,"lastSubmission":"2020-11-02T04:41:14.761Z"},{"id":3,"name":"ruODK
        package tests encrypted","archived":null,"keyId":1,"createdAt":"2020-10-31T11:12:57.462Z","updatedAt":"2020-11-02T07:23:17.938Z","forms":1,"appUsers":1,"lastSubmission":"2020-11-02T07:26:38.111Z"},{"id":5,"name":"Sandbox","archived":null,"keyId":null,"createdAt":"2020-12-14T07:36:46.197Z","updatedAt":"2021-08-05T11:07:08.650Z","forms":3,"appUsers":2,"lastSubmission":"2021-07-07T03:16:47.983Z"},{"id":1,"name":"Turtle
        Monitoring","archived":null,"keyId":null,"createdAt":"2020-09-15T03:50:06.862Z","updatedAt":"2021-08-17T05:34:34.471Z","forms":13,"appUsers":14,"lastSubmission":"2021-08-16T09:49:25.586Z"},{"id":7,"name":"An
        archived project","archived":true,"keyId":null,"createdAt":"2021-05-04T09:13:32.807Z","updatedAt":"2021-05-04T09:13:38.668Z","forms":0,"appUsers":0,"lastSubmission":null}]'
  recorded_at: 2021-08-19 03:15:21 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
