http_interactions:
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/projects/2/forms/Locations_draft/fields?flatten=FALSE&odata=FALSE
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"632-HEZYiEylnxwykAvXZ35QMBzXQVs"
    body:
      encoding: UTF-8
      file: no
      string: '[{"path":"/meta","name":"meta","type":"structure","binary":null},{"path":"/meta/instanceID","name":"instanceID","type":"string","binary":null},{"path":"/device_id","name":"device_id","type":"string","binary":null},{"path":"/start_time","name":"start_time","type":"dateTime","binary":null},{"path":"/username","name":"username","type":"string","binary":null},{"path":"/subscriber_id","name":"subscriber_id","type":"string","binary":null},{"path":"/point","name":"point","type":"structure","binary":null},{"path":"/point/location_point_gps","name":"location_poi[...]
