http_interactions:
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/projects/2/forms/Flora-Quadrat-04.svc/Submissions.vegetation_stratum?%24skip=1&%24top=&%24count=false&%24wkt=false
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      odata-version: '4.0'
    body:
      encoding: UTF-8
      file: no
      string: '{"value":[{"__id":"d82d70d62b06f7c55e808ce38d0b4f9bb8263c25","__Submissions-id":"uuid:469f71d3-d7aa-4c74-8aaa-af5f667a2f28","nvis_level3_broad_floristic_group":"w3.0_shrub","max_height_m":0.5,"foliage_cover":"30-10","dominant_species_1":"Shrub
        sp 1","dominant_species_2":"Shrub sp 2","dominant_species_3":"Shrub sp 3","dominant_species_4":"Shrub
        sp 4"},{"__id":"010466aa295fd5c0c250e23a8fcd0bc4e7f77673","__Submissions-id":"uuid:469f71d3-d7aa-4c74-8aaa-af5f667a2f28","nvis_level3_broad_floristic_group":"w2.1_mallee","max_height_m":2,"foliage_cover":"5-0","dominant_species_1":"Mallee
        sp 1","dominant_species_2":"Mallee sp 2","dominant_species_3":"Mallee sp 3","dominant_species_4":"Mallee
        sp 4"}],"@odata.context":"https://odkc.dbca.wa.gov.au/v1/projects/2/forms/Flora-Quadrat-04.svc/$metadata#Submissions.vegetation_stratum"}'
  recorded_at: 2020-12-10 08:23:01 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.4
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/projects/2/forms/Flora-Quadrat-04/fields?flatten=FALSE&odata=FALSE
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"bdf-C11XpUCPNjdiK9lUpOOOsqklGbw"
    body:
      encoding: UTF-8
      file: no
      string: '[{"path":"/meta","name":"meta","type":"structure","binary":null},{"path":"/meta/instanceID","name":"instanceID","type":"string","binary":null},{"path":"/encounter_start_datetime","name":"encounter_start_datetime","type":"dateTime","binary":null},{"path":"/reporter","name":"reporter","type":"string","binary":null},{"path":"/device_id","name":"device_id","type":"string","binary":null},{"path":"/location","name":"location","type":"structure","binary":null},{"path":"/location/area_name","name":"area_name","type":"string","binary":null},{"path":"/location/qu[...]
