http_interactions:
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/audits
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"18b1d1-ie3GTVWHeUw6bD1KxDF7vEyxpVU"
    body:
      encoding: UTF-8
      file: no
      string: '[{"actorId":30,"action":"submission.create","acteeId":"18db9947-b636-4a55-9370-cc4f1c8ed865","details":{},"loggedAt":"2020-12-10T08:06:18.635Z"},{"actorId":30,"action":"submission.create","acteeId":"18db9947-b636-4a55-9370-cc4f1c8ed865","details":{},"loggedAt":"2020-12-10T08:06:18.192Z"},{"actorId":30,"action":"submission.create","acteeId":"0d049715-3f8c-4a00-b3b4-3f2955abd52d","details":{},"loggedAt":"2020-12-10T08:06:17.659Z"},{"actorId":30,"action":"submission.attachment.update","acteeId":"0d049715-3f8c-4a00-b3b4-3f2955abd52d","details":{"name":"1607554070661.jpg","newBlobId":1104,"instanceId":"uuid:135e0853-fd12-461d-826a-71e54d02418a","submissionDefId":8025},"loggedAt":"2020-12-10T08:06:17.638Z"},{"actorId":30,"action":"submission.create","acteeId":"fd932406-9aa1-4900-91f6-c9caf08f58a6","details":{},"loggedAt":"2020-12-10T08:06:08.589Z"},{"actorId":30,"action":"submission.attachment.update","acteeId":"fd932406-9aa1-4900-91f6-c9caf08f58a6","details":{"name":"1607555603501.jpg","newBlobId":1103,"instanceId":"uuid:4e4c85cc-7833-476d-9113-c1babb6ef6fd","submissionDefId":8024},"loggedAt":"2020-12-10T08:06:08.564Z"},{"actorId":5,"action":"assignment.create","acteeId":"278a88d4-bd38-497a-8f5c-e647f944be0c","details":{"roleId":6,"grantedActeeId":"7e9417a3-f1db-4126-ba83-3810ce46e353"},"loggedAt":"2020-12-10T04:23:03.506Z"},{"actorId":5,"action":"assignment.delete","acteeId":"278a88d4-bd38-497a-8f5c-e647f944be0c","details":{"roleId":5,"revokedActeeId":"7e9417a3-f1db-4126-ba83-3810ce46e353"},"loggedAt":"2020-12-10T04:23:03.355Z"},{"actorId":5,"action":"assignment.create","acteeId":"bf2229df-d9c2-4770-b311-e5efecb93273","details":{"roleId":6,"grantedActeeId":"7e9417a3-f1db-4126-ba83-3810ce46e353"},"loggedAt":"2020-12-10T04:23:00.545Z"},{"actorId":5,"action":"assignment.delete","acteeId":"bf2229df-d9c2-4770-b311-e5efecb93273","details":{"roleId":5,"revokedActeeId":"7e9417a3-f1db-4126-ba83-3810ce46e353"},"loggedAt":"2020-12-10T04:23:00.376Z"},{"actorId":30,"action":"submission.create","acteeId":"18db9947-b636-4a55-9370-cc4f1c8ed865","details":{},"loggedAt":"2020-12-10T03:59:09.734Z"},{"actorId":30,"action":"submission.create","acteeId":"18db9947-b636-4a55-9370-cc4f1c8ed865","details":{},"loggedAt":"2020-12-10T03:59:09.305Z"},{"actorId":30,"action":"submission.create","acteeId":"18db9947-b636-4a55-9370-cc4f1c8ed865","details":{},"loggedAt":"2020-12-10T03:59:08.920Z"},{"actorId":30,"action":"submission.create","acteeId":"18db9947-b636-4a55-9370-cc4f1c8ed865","details":{},"loggedAt":"2020-12-10T03:59:08.512Z"},{"actorId":30,"action":"submission.create","acteeId":"18db9947-b636-4a55-9370-cc4f1c8ed865","details":{},"loggedAt":"2020-12-10T03:59:08.076Z"},{"actorId":30,"action":"submission.create","acteeId":"0d049715-3f8c-4a00-b3b4-3f2955abd52d","details":{},"loggedAt":"2020-12-10T03:59:07.536Z"},{"actorId":5,"action":"form.update","acteeId":"e3a00b53-8175-42b3-8a49-aefdeae0209c","details":{"data":{"name":"Turtle
        Track Tally","state":"open"}},"loggedAt":"2020-12-10T03:22:18.951Z"},{"actorId":5,"action":"form.update","acteeId":"18db9947-b636-4a55-9370-cc4f1c8ed865","details":{"data":{"name":"Turtle
        Track or Nest","state":"open"}},"loggedAt":"2020-12-10T03:22:18.951Z"},{"actorId":5,"action":"form.update","acteeId":"a28ff53f-3505-43d2-a41f-c25e60e10905","details":{"data":{"name":"Turtle
        Tagging 3.0","state":"open"}},"loggedAt":"2020-12-10T03:22:18.951Z"},{"actorId":5,"action":"form.update","acteeId":"ebb1ec1d-40[...]
