http_interactions:
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/projects/2/forms/Flora-Quadrat-04/submissions/uuid:469f71d3-d7aa-4c74-8aaa-af5f667a2f28.xml
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/xml; charset=utf-8
      etag: W/"ba8-Ktd4CquF+VWi04bCN7CDUbjIxZA"
    body:
      encoding: UTF-8
      file: no
      string: <?xml version='1.0' ?><data id="Flora-Quadrat-04" xmlns:h="http://www.w3.org/1999/xhtml"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jr="http://openrosa.org/javarosa"><meta><instanceID>uuid:469f71d3-d7aa-4c74-8aaa-af5f667a2f28</instanceID></meta><encounter_start_datetime>2020-11-02T12:06:19.314+08:00</encounter_start_datetime><reporter
        /><device_id>5afb51f35ba0c572</device_id><location><area_name>Test site 1</area_name><quadrat_photo>1604290006239.jpg</quadrat_photo><corner1>-31.9959554
        115.8843989 -12.699999809265137 4.625</corner1></location><habitat><morphological_type>flat</morphological_type><morphological_type_photo>1604290049411.jpg</morphological_type_photo></habitat><vegetation_stratum><nvis_level3_broad_floristic_group>c1.0_surface_crusts</nvis_level3_broad_floristic_group><max_height_m>0.1</max_height_m><foliage_cover>5-0</foliage_cover><dominant_species_1>Lichen
        sp 1</dominant_species_1><dominant_species_2>Lichen sp 2</dominant_species_2><dominant_species_3>Lichen
        sp 3</dominant_species_3><dominant_species_4>Lichen sp 4</dominant_species_4></vegetation_stratum><vegetation_stratum><nvis_level3_broad_floristic_group>w3.0_shrub</nvis_level3_broad_floristic_group><max_height_m>0.5</max_height_m><foliage_cover>30-10</foliage_cover><dominant_species_1>Shrub
        sp 1</dominant_species_1><dominant_species_2>Shrub sp 2</dominant_species_2><dominant_species_3>Shrub
        sp 3</dominant_species_3><dominant_species_4>Shrub sp 4</dominant_species_4></vegetation_stratum><vegetation_stratum><nvis_level3_broad_floristic_group>w2.1_mallee</nvis_level3_broad_floristic_group><max_height_m>2.0</max_height_m><foliage_cover>5-0</foliage_cover><dominant_species_1>Mallee
        sp 1</dominant_species_1><dominant_species_2>Mallee sp 2</dominant_species_2><dominant_species_3>Mallee
        sp 3</dominant_species_3><dominant_species_4>Mallee sp 4</dominant_species_4></vegetation_stratum><perimeter><corner2>-31.9957893
        115.8842726 -21.19999885559082 4.861</corner2><corner3>-31.9958188 115.8843031
        -21.19999885559082 4.655</corner3><corner4>-31.9961397 115.8845949 -12.699999809265137
        4.913</corner4><mudmap_photo>1604290379613.jpg</mudmap_photo></perimeter><taxon_encounter><field_name>Mallee
        1</field_name><photo_in_situ>1604290400891.jpg</photo_in_situ><taxon_encounter_location>-31.9959816
        115.8844306 -16.5325927734375 4.832</taxon_encounter_location><life_form>w2.1_mallee</life_form><voucher_specimen_barcode>NHA70209-01</voucher_specimen_barcode><voucher_specimen_label>Specimen1</voucher_specimen_label></taxon_encounter><taxon_encounter><field_name>Shrub
        1</field_name><photo_in_situ>1604290499008.jpg</photo_in_situ><taxon_encounter_location>-31.9959848
        115.8844333 -16.799999237060547 4.841</taxon_encounter_location><life_form>w3.0_shrub</life_form><voucher_specimen_barcode>14724808</voucher_specimen_barcode><voucher_specimen_label>Specimen2</voucher_specimen_label></taxon_encounter><encounter_end_datetime>2020-11-02T12:15:48.463+08:00</encounter_end_datetime></data>
  recorded_at: 2021-03-08 05:24:15 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
