http_interactions:
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/projects/2/forms/I8n_label_choices/fields?flatten=FALSE&odata=FALSE
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"2b6-7MpRREPy5M23KgOeg+DuWNXx0AE"
    body:
      encoding: UTF-8
      file: no
      string: '[{"path":"/some_text","name":"some_text","type":"string","binary":null},{"path":"/text_image_audio_video_test","name":"text_image_audio_video_test","type":"string","binary":null},{"path":"/a_integer","name":"a_integer","type":"int","binary":null},{"path":"/a_decimal","name":"a_decimal","type":"decimal","binary":null},{"path":"/calculate","name":"calculate","type":"string","binary":null},{"path":"/calculate_test_output","name":"calculate_test_output","type":"string","binary":null},{"path":"/test_yn","name":"test_yn","type":"string","binary":null},{"path":"/meta","name":"meta","type":"structure","binary":null},{"path":"/meta/instanceID","name":"instanceID","type":"string","binary":null}]'
  recorded_at: 2020-11-23 04:01:04 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/projects/2/forms/I8n_label_choices.xml
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/xml; charset=utf-8
      etag: W/"1b5b-US6cYHvq/vqyCP3TQNx15lxs4Ds"
    body:
      encoding: UTF-8
      file: no
      string: |
        <?xml version="1.0"?>
        <h:html xmlns="http://www.w3.org/2002/xforms" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:h="http://www.w3.org/1999/xhtml" xmlns:jr="http://openrosa.org/javarosa" xmlns:odk="http://www.opendatakit.org/xforms" xmlns:orx="http://openrosa.org/xforms" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <h:head>
                <h:title>I8n label and choices</h:title>
                <model odk:xforms-version="1.0.0">
                    <itext>
                        <translation lang="English (en)"><text id="/data/some_text:label">
                                <value>This is a basic fill in the blank question.</value>
                            </text><text id="/data/text_image_audio_video_test:label">
                                <value>This question shows how to use translations and media types.</value>
                            </text><text id="/data/a_integer:label">
                                <value>Enter a integer:</value>
                            </text><text id="/data/a_decimal:label">
                                <value>Enter a decimal:</value>
                            </text><text id="/data/calculate_test_output:label">
                                <value>The sum of the integer and decimal: <output value=" /data/calculate " /></value>
                            </text><text id="/data/test_yn:label">
                                <value>What do you think?</value>
                            </text><text id="/data/test_yn/0:label">
                                <value>Yes</value>
                            </text><text id="/data/test_yn/1:label">
                                <value>No</value>
                            </text><text id="/data/test_yn/99:label">
                     [...]
