http_interactions:
- request:
    method: get
    uri: https://odkcentral.dbca.wa.gov.au/v1/users
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"e8e-yEn3M9sOOWrRkNiPTzaR1isXcsc"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":81,"type":"user","displayName":"Adrienne Markey","createdAt":"2020-07-08T06:29:43.399Z","updatedAt":null,"email":"Adrienne.Markey@dbca.wa.gov.au"},{"id":38,"type":"user","displayName":"Ben
        Corey","createdAt":"2019-06-27T04:29:44.087Z","updatedAt":"2019-06-28T03:03:24.822Z","email":"ben.corey@dbca.wa.gov.au"},{"id":59,"type":"user","displayName":"Brooke
        Shields","createdAt":"2019-10-08T06:36:47.384Z","updatedAt":"2019-10-08T06:37:03.181Z","email":"Brooke.Shields@dbca.wa.gov.au"},{"id":31,"type":"user","displayName":"Colin
        Ward","createdAt":"2019-06-07T05:45:21.437Z","updatedAt":"2019[...]
