http_interactions:
- request:
    method: get
    uri: https://odkc.dbca.wa.gov.au/v1/users
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"a21-Um8cNKewa2hAtDxtxxij7PRuYy0"
    body:
      encoding: UTF-8
      file: no
      string: '[{"id":8,"type":"user","displayName":"Brendan Cale","createdAt":"2020-10-19T08:04:41.733Z","updatedAt":null,"email":"brendan.cale@dbca.wa.gov.au"},{"id":115,"type":"user","displayName":"Colin
        Ward","createdAt":"2021-02-16T06:37:29.632Z","updatedAt":null,"email":"Colin.Ward@dbca.wa.gov.au"},{"id":24,"type":"user","displayName":"Corrine
        Douglas","createdAt":"2020-10-20T02:19:20.325Z","updatedAt":null,"email":"Corrine.Douglas@dbca.wa.gov.au"},{"id":73,"type":"user","displayName":"Emer
        O''Gara","createdAt":"2020-11-06T03:12:40.979Z","updatedAt":null,"email":"emer.ogara@dbca.wa.gov.au"},{"i[...]
